<!DOCTYPE>
<html>
<head>
	<title></title>
</head>
<body>
	<form method = "post" action = "/articles/new">
		<input type="text" name = "article[headline]"><br>
		<input type = "text" name ="article[author]"><br>
		<textarea name ="author[description]">
		</textarea>
		<br>
		<button>Save Article</button>

	</form>
</body>
</html>